body{
   background-color: aqua;
   text-align: center;
}


.main{
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: space-around;
   margin: 0px;
}
.subjects{
   width: 50%;
   height: 1068px;
   margin-right: 16px;
   border: 2px solid black;
   box-sizing: border-box;
}
.lecturer {
   width: 50%;
   height: 1068px;
   margin-right: 16px;
   border: 2px solid black;
   box-sizing: border-box;
}
.group {
   width: 100%;
   height: 100%;
   border: 2px solid black;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;

   .title{
      width: 100%;
      height: 100%;
      border: 2px solid black;
      box-sizing: border-box;
   }
}
.days {
   display: flex;
   flex-direction: column;
}
.monday {

   
   border: 2px solid black;
   writing-mode: vertical-lr;
   width:60px;
  height: 170px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
          
}
.tuesday {
   border: 2px solid black;
   writing-mode: vertical-lr;
   width:60px;
  height: 170px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);     
}
.wednesday {
   border: 2px solid black;
   writing-mode: vertical-lr;
   width:60px;
  height: 170px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.thursday {
   border: 2px solid black;
   writing-mode: vertical-lr;
   width:60px;
  height: 170px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.friday {
   
   border: 2px solid black;
   writing-mode: vertical-lr;
   width:60px;
  height: 170px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
          
}
.saturday {
   border: 2px solid black;
   height: 170px;
   writing-mode: vertical-lr;
   width:60px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
  
          transform: rotate(180deg);
}
